body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
.header{
    background-color: #4070f4;
    width: 100vw;
    height: 15vh;
}
.btn{
    color:white;
    background-color:#4070f4;
    width: 40%;
    height:15vh;
    font-size: 3rem;
    padding: 0%;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow:none;
}
.btn:hover {
    color: #ffffff;
}
.card{
    background:hsl(224, 89%, 60%,0.95);
    width: 90%;
    border: none;
    border-radius: 0%;
    border-bottom-right-radius: 1rem;
    float: left;
    justify-content: center;
    align-items: center;
    padding: 0%;
    
}
.list ul{
    padding: 0%;
    width: 100%;
    justify-content:center;
    text-align: center;
}
.list ul li{
    list-style: none;
    padding-block: 1.5rem;
}
.list ul a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}
.sidebar{
    width: 40%;
    float: left;
    height: 100%;
}
.logo{
    float: left;
    width:60%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}
h1{
    font-size: 4rem;
}
.element-1{
    width: 100vw;
    justify-content: center;
}
